  <div class="container">   
    <table class="table align-middle table-dark table-hover text-center mt-4 caption-top" id="tablaRecursos"> 
      <caption class="h3">Recursos</caption>
      <thead>
        <tr class="bg-primary text-white">
          <th scope="col">NOMBRE ROL</th>
          <th scope="col">MES 1</th>
          <th scope="col"></th>
          <th scope="col">TOTAL</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tbodyRe">
        <tr>
          <td><input class="form-control text-center " type="text" placeholder="nobreRe" id="nobreRe"  required></td>
          <td><input class="form-control text-center " type="number" placeholder="costosRe" id="costosRe" step="0.01" required></td>
          <td><input class="form-control text-center " type="text" placeholder="asignacionRe" id="asignacionRe"  required></td>
          <td><input class="form-control text-center " type="number" placeholder="sumRe.rol" id="sumRolRe" step="0.01" disabled></td>
          <td><a onclick="eliminar('')" class="btn btn-outline-danger"><i class='bx bxs-trash-alt'></i></a></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="bg-primary text-white">
          <td scope="col">TOTAL</th>
            <td><input class="form-control text-center " type="number" placeholder="totalCostosRe" id="totalCostosRe" step="0.01" disabled></td>
            <td><input class="form-control text-center " type="number" placeholder="totalAsigRe" id="totalAsigRe" step="0.01" disabled></td>
            <td><input class="form-control text-center " type="number" placeholder="sumTotalRe" id="sumTotalRe" step="0.01" disabled></td>
          <td scope="col"></th>
        </tr>
      </tfoot>
    </table>
    <div class="d-flex justify-content-evenly">
      <button type="button" class="btn btn-primary col-md-4" id="agregarRecursos"><i class='bx bxs-plus-circle'></i>AGREGAR FILA</button>
    </div> 
  </div>