  <div class="container">    
    <table class="table align-middle table-dark table-hover text-center mt-4 caption-top">
      <caption class="h3">Costos</caption>
      <thead>
        <tr class="bg-primary text-white">
          <th scope="col">NOMBRE ROL</th>
          <th scope="col">MES 1</th>
          <th scope="col">TOTAL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control text-center " type="text" placeholder="tituloCo" id="tituloCo" disabled></td>
          <td><input class="form-control text-center " type="number" placeholder="costosCo" id="costosCo" step="0.01" disabled></td>
          <td><input class="form-control text-center " type="number" placeholder="sumCo.rol" id="sumRolCo" step="0.01" disabled></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="bg-primary text-white">
          <td scope="col">TOTAL</th>
            <td><input class="form-control text-center " type="number" placeholder="totCo.mes" id="totalCo" step="0.01" disabled></td>
            <td><input class="form-control text-center " type="number" placeholder="sumCo.total" id="sumTotalCo" step="0.01" disabled></td>
        </tr>
      </tfoot>
    </table>
  </div>