    <h1 class="p-3 text-center">Ingresar la información a las tablas</h1>
    <div class="container mt-4">

        <form id="nuevoForm" method="POST" class="row g-3" validate>
            <div class="col-md-4 position-relative">
                <label for="proyecto" class="form-label">Proyecto:</label>
                <input required type="text" class="form-control" id="proyecto" name="proyecto" placeholder="Proyecto al que pertenece el presupuesto">
                
            </div>
            
            <div class="col-md-4 position-relative">
                <label for="versiones" class="form-label">Version:</label>
                <input required type="text" class="form-control" id="versiones" name="versiones" placeholder="ej. 1.0"> 
            </div>

            <div class="col-md-3 position-relative">
                <label for="mes" class="form-label">Mes</label>
                <input required type="month" class="form-control" id="mes" name="mes" placeholder="Inico de presupuesto">
            </div>